@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Fredoka+One|Open+Sans');

html {
  height: 100%;
}

body {
  font-size: 100%;
  height: 100%;
  background: #f6f6f6;
  font-family: 'Open Sans', 'helvetica', 'arial', sans-serif;
  color: #011627;
  line-height: 1.1;
}

.container {
  max-width: 1140px;
  margin: 1.5em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 150px;
  text-align: center;
}

.center {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 190px;
  max-width: 190px;
  padding: 0 15px;
}

.logo {
  font-family: 'Fredoka One', cursive;
  height: 90px;
  width: 90px;
  margin: 0 auto;
  background: #FDFFFC;
  border: 4px solid #FF9F1C;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 20px;
}

.desc {
  text-align: center;
  margin: 1em 0 1.5em;
  font-size: 14px;
}

/* THEME */
h1 {
  font-size: 20px;
}

h1:first-of-type {
  text-align: center;
}

h2 > small {
  font-size: 12px;
}

button, a {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.btn {
  background: #ff9f1c;
  color: white;
  padding: 12px 22px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  border: 1px solid transparent;
  vertical-align: middle;
}

.btn:hover {
  background: #ffb348;
}

.btn:active, .btn:focus {
  outline: none;
  border: 1px solid #ffdc5c;
  -webkit-box-shadow: 0 0 0 2px #ffa50057;
          box-shadow: 0 0 0 2px #ffa50057;
  background: #ff9f1c;
}

button.emailBtn {
  height: 49px;
  padding: unset;
  vertical-align: top;
  display: inline-block;
  border: 1px solid #39ceba;
  border-left: none;
  background: #41ead4;
  color: white;
  border-radius: 25px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  width: 10%;
  min-width: 60px;
  font-size: 16px;
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.1);
          box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

button.btn.emailBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button.emailBtn:hover {
  background: #39ceba;
}

.emailBtn:active, .emailBtn:focus {
  outline: none;
  border: 1px solid #73f4e2;
  -webkit-box-shadow: 0 0 0 2px #2ac4b0;
          box-shadow: 0 0 0 2px #2ac4b0;
  background: #41ead4;
}

.btn-small {
  margin-left: 10px;
  border: 1px solid #525252;
  padding: 8px;
  border-radius: 4px;
  font-size: 1rem;
}

.btn-plain {
  background: white;
  color: #525252;
}

.btn-plain:hover {
  background: #efefef;
}

.btn-plain:active, .btn-plain:focus {
  background: #efefef;
  border: 1px solid #525252;
  -webkit-box-shadow: 0 0 0 2px #cbcbcb;
          box-shadow: 0 0 0 2px #cbcbcb;
}

/* FORM */
.NumberSettingsWrap {
  padding: 1em;
  max-width: 400px;
  margin: 0 auto;
  background: #FDFFFC;
  -webkit-box-shadow: 1px 2px 0 3px #41EAD4;
          box-shadow: 1px 2px 0 3px #41EAD4;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.NumberSettingsWrap .formGroup {
  text-align: center;
}

.NumberSettingsWrap input {
  height: 30px;
  font-size: 24px;
  width: 100%;
  display: inline-block;
  max-width: 150px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.2);
  text-align: center;
  font-family: 'Abril Fatface', cursive;
}

.NumberSettingsWrap .formGroup:last-child {
  margin-top: 15px;
  text-align: center;
}

.NumberSettingsWrap .formGroup p, .NumberSettingsWrap .formGroup label {
  font-size: 14px;
  margin: 0 0 1em;
  display: block;
}

.formInline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formInline > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.hidden { display: none !important; }

.btn-group {
  list-style: none;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 728px;
}

.btn-group li {
  display: inline-block;
  padding: 0.5em;
  margin: 0.25em;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  -webkit-transition: border 0.3s ease-in;
  -o-transition: border 0.3s ease-in;
  transition: border 0.3s ease-in;
}

.btn-group li:hover {
  border-bottom: 3px solid #bfbfbf;
}

.btn-group li.selected {
  border-bottom: 3px solid #FF9F1C;
}

ul.StackNumbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2em auto;
  padding: 0;
  width: 100%;
  max-width: 728px;
  font-family: 'Abril Fatface', cursive;
}

ul.StackNumbers li {
  background: white;
  width: 80px;
  height: 80px;
  margin: 5px;
  text-align: center;
  line-height: 80px;
  font-size: 22px;
  border-radius: 50%;
  border: 3px solid rgba(0,0,0,0.1);
  color: #bfbfbf;
}

.StackNumbers li.filled {
  border-color: #FF9F1C;
  color: #525252;
  -webkit-box-shadow: 0 3px 17px rgba(0,0,0,0.2);
          box-shadow: 0 3px 17px rgba(0,0,0,0.2);
}

ul.StackFacts {
  margin: 0;
  padding: 0;
}

li.StackItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  list-style: none;
  background: #FDFFFC;
  -webkit-box-shadow: 0 2px 4px 0 rgba(167,167,167,0.50);
          box-shadow: 0 2px 4px 0 rgba(167,167,167,0.50);
  border-radius: 4px;
  padding: 1.25em 1em;
  margin: 0 0 1em;
  font-weight: bold;
}

li.StackItem span {
  margin-left: 2em;
  display: inline-block;
  color: rgba(0,0,0,0.8);
  font-weight: 400;
}

.emailConfirmation {
  background: #0cb13f;
  padding: 4px 8px;
  border-radius: 4px;
  width: 50%;
  min-width: 320px;
  color: white;
  position: absolute;
  left: 18px;
  top: -36px;
}

/* USER EMAIL INPUT */
.NumberFilledWrap {
  margin: 50px 0;
}

.NumberFilledWrap h2 {
  font-family: 'Fredoka One', cursive;
  font-size: 28px;
}

.inlineFormGroup input {
  width: 60%;
  max-width: 350px;
  font-size: 20px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 25px;
  padding: 12px 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.inlineFormGroup input:focus {
  outline: none;
  -webkit-box-shadow: 0 4px 10px rgba(0,0,0,0.1);
          box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.inlineFormGroup input.error {
  border-color: #ff9494;
}

.inlineFormGroup input.error ~ .errorMsg {
  display: block;
}

.inlineFormGroup {
  width: 100%;
  position: relative;
}

.errorMsg {
  display: none;
  color: #ff9494;
  margin: 8px 20px;
}

.startOver {
  margin: 24px 0;
}

/* FOOTER */
footer {
  background: rgba(0,0,0,0.05);
  border-radius: 4px;
  padding: 1px 4px;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer ul li {
  display: inline-block;
  margin-right: 15px;
  color: rgba(0,0,0,0.7);
}

/* MEDIA QUERIES */
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2.2rem;
  }

  h1:first-of-type {
    text-align: left;
  }

  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .left {
    max-width: 150px;
    padding: 0 15px;
  }

  .NumberSettingsWrap {
    max-width: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .NumberSettingsWrap .formGroup:first-child {
    width: 33.33%;
    border-right: 1px solid rgba(0,0,0,0.1);
  }

  .NumberSettingsWrap .formGroup:last-child {
    margin-top: 0;
    width: 66.66%;
  }

  inlineFormGroup input {
    width: 90%;
  }

  .btn-group {
    text-align: right;
  }

  footer {
    line-height: 0;
  }
}